:root {
    --primary-color: rgb(116, 234, 255);
    --secondary-color: rgb(255, 255, 79);
    --accent1-color: black;
    --accent2-color: rgb(101, 101, 101);
    --font-size: 18px;
    --font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--font-family);
    color: var(--primary-color);
}

p,
section,
article {
    margin: 16px;
    padding: 8px;
}

header {
    grid-template-columns: 1fr 3fr;
    align-items: center;
    border: 2px solid var(--accent2-color);
    background-color: var(--secondary-color);
}

header img {
    height: 100px;
    width: auto;
    margin: 0 auto;
}

header nav ul {
    display: flex;
    margin-right: 1rem;
}

header nav ul li a {
    display: flex;
    text-decoration: none;
    justify-content: space-around;
    margin: 5px 0 5px 0;
}

header nav ul li {
    list-style-type: none;
    border: 1px solid var(--accent2-color);
    flex: 1;
}

section img {
    width: auto;
    height: 150px;
    margin: 0 auto;
}

section p {
    margin: 0 auto;
}

figcaption {
    text-align: center;
}

footer {
    border-top: 1px solid var(--accent2-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

footer p {
    margin: 0 auto;
    text-align: center;
    grid-column: 2;
    align-content: center;
    padding: 20px 0 20px 0;
}

footer nav {
    display: flex;
    align-items: center;
    justify-content: right;
}

footer nav a {
    margin: 0 5px 0 5px;
    padding: 0;
    height: 25px;
}

.history {
    display: grid;
    grid-template: 50px 1fr / 1fr 1fr 1fr;
    border: 1px solid var(--accent1-color);
}

.history h2 {
    grid-column: span 3;
    margin: 0 auto;
}

.adventure {
    display: grid;
    grid-template: 50px 1fr / 1fr 1fr 1fr 1fr 1fr;
    border: 1px solid var(--accent1-color);
}

.adventure h2 {
    grid-column: 1 / 6;
}

.adventure h2,
.adventure figure {
    margin: 0 auto;
}

.socialmedia nav {
    padding: 0;
    margin: 0;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia a img {
    height: 25px;
    max-width: auto;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 10px;
    font-size: 60px;
    background-color: rgb(from var(--secondary-color) r g b / 0.729);
    text-align: center;
    width: 100%;
    padding: 5px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.grid {
    display: grid;
}

.hero article {
    position: absolute;
    top: 325px;
    background-color: rgb(from var(--secondary-color) r g b / 0.729);
    max-width: fit-content;
    margin: 50px;
    line-height: 20px;
    font-size: var(--font-size);
}

.hero article img {
    float: right;
    width: 125px;
    border: 2px solid var(--accent2-color);
    box-shadow: 0 0 10px;
}