* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: darkblue;
    --secondary-color: black;
    --border-width: 1px;
    --background-color: white;
}

main {
    max-width: 500px;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border-width) solid var(--secondary-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

aside {
    position: relative;
    width: 20rem;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 30px;
    left: 120px;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}

img {
    width: 150px;
    height: auto;
    border: 1px solid var(--secondary-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

ul {
    clear: both;
}

footer {
    margin-top: 1rem;
    border-top: 3px solid var(--secondary-color);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000
}