:root {
    --primary-color: darkblue;
    --secondary-color: black;
    --border-width: 1px;
    --background-color: white;
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border-width) solid var(--secondary-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside {
    width: 20rem;
    margin: 40px;
    border: var(--border-width) solid var(--secondary-color);
    padding: 1rem;
    background-color: var(--background-color);
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}

img {
    width: 150px;
    height: auto;
    border: 1px solid var(--secondary-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

footer {
    margin-top: 1rem;
    border-top: 3px solid var(--secondary-color);
    text-align: center;
}